/** CSS STYLE **/
:root {
  --white-color: #fff;
  --clear-white-color: #f5f4f0;
  --bright-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --clear-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
  --main-font: 'Open Sansa', sans-serif;
  --head-font: 'Neucha', cursive;
  --size-font: 16px;
  --space-beetwen-str: 1.6em;
  --color-font: #2a2626;
  --space-beetwen-head: 1.2em;
  --size-head-one: 72px;
  --size-head-two: 60px;
  --size-head-three: 34px;
  --min-size-content: 1110px;
  --center-content: center;
  --margin-top-bottom: 100px;
}

body {
  margin: 0;

  padding: 0;

  color: var(--dark-color);
  font-size: var(--size-font);
  font-family: var(--main-font);
  line-height: var(--space-beetwen-str);
}

h1,
h2,
h3 {
  color: var(--main-color);

  font-weight: normal;

  font-family: var(--head-font);
}

p {
  font-size: 16px;
  line-height: 25.6px;
  color: var(--dark-color);
}

.dark-color {
  color: var(--dark-color);
}

.mg-left-20px {
  margin-left: 20px;
}

h1 {
  font-size: var(--size-head-one);
  line-height: var(--space-beetwen-head);
}

h3 {
  font-size: var(--size-head-three);
}

a {
  font-size: var(--size-font);

  text-decoration: none;
}

.font-neucha {
  font-family: var(--head-font);
}

.font-sans {
  font-family: var(--main-font);
}

header {
  min-width: var(--min-size-content);
  height: 914px;
}

.bg {
  background: var(--bright-color);
}

.bg::before {
  position: absolute;

  display: block;

  width: 100%;
  height: 914px;

  background: url('../images/background.png');

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.color-clear-dark {
  color: var(--clear-dark-color);
}

.color-white {
  color: var(--white-color);
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrap {
  flex-wrap: wrap;
}

.padding {
  padding: 30px 50px;
}

.bot {
  margin-bottom: 0;
}

.header-img {
  position: absolute;
  top: 55px;

  right: -255px;

  display: block;
  height: 525px;
}

.container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding: 100px 15px;
}

.nav-container {
  position: relative;

  width: 1440px;
  margin: auto;
  padding: 170px 0 80px 0;
}

.nav-set {
  width: 1440px;
  margin: 0 auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.p-right {
  padding-right: 30px;
}

.p-left {
  padding-left: 30px;
}

.j-content-around {
  justify-content: space-around;
}

.mg-140-auto {
  margin: 140px auto;
}

.left-300 {
  left: -300px;
}

.mg {
  margin: -100px 100px 0 300px;
}

.f-basis-550 {
  flex-basis: 550px;
}

.p-left-60 {
  padding-left: 60px;
}

.p-right-40 {
  padding-right: 40px;
}

.button-header {
  right: 403px;
  bottom: 100px;
}

.top-814 {
  top: 750px;
  left: 950px;
}

.bg-orange {
  background: var(--main-color);
}

.bor-none {
  border-style: none;
}

.padding-12-24 {
  padding: 12px 24px;
}

/* maim blog */

.content-item-1 {
  height: 814px;
}

.bg-white {
  background: var(--white-color);
}

.color-orange {
  color: var(--main-color);
}

.f-direction {
  flex-direction: column;
}

.j-content-center {
  justify-content: center;
}

.a-items {
  align-items: center;
}

.t-align-center {
  text-align: center;
}

.top-200 {
  top: -200px;
}

.top-430 {
  top: 430px;
}

.video {
  position: absolute;
  right: 0;
  left: 0;

  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.p-20px {
  padding: 20px 3px 6px 0;
}

.j-content-between {
  justify-content: center;
}

.bg-dark {
  background: var(--main-dark-color);
}

.padding-t-200-b-100 {
  padding: 200px 0 100px 0;
}

.mg-30px {
  margin: 30px auto;
}

.nav-item {
  width: 300px;
  height: 276px;

  margin: 10px 16px;
  padding: 24px;

  background: var(--white-color);
}

.nav-item span {
  font-weight: normal;
  font-size: var(--size-head-three);
  font-family: var(--head-font);
  line-height: 40px;
}

.p-b-48px {
  padding-bottom: 48px;
}
.mg-40px {
  margin-bottom: 40px;
}

.h-1000px {
  height: 1000px;
}

.nav-item-header p {
  margin: 0;

  font-size: 52px;

  font-family: var(--head-font);

  line-height: 62px;
}

.nav-item-header {
  position: relative;
  top: -9px;

  width: 350px;
  height: 300px;

  margin: 10px 15px;
}

.h-814px {
  height: 956px;
}

.mg-top-12px {
  margin-top: 12px;
}

.style-num {
  margin: 5px 0 39px 0;

  font: 64px/1 'neucha', sans-serif;
}

.d-block {
  display: block;
}

.img1 {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.p-100-0 {
  padding: 100px 0;
}

.f-grow-1 {
  flex-grow: 1;
}

.f-grow-2 {
  flex-grow: 2;
}

.right-370 {
  right: -370px;
}

.mg-0 {
  margin: 0;
}

.size-72 {
  font-size: 72px;
}

.size-40 {
  font-size: 40px;
}

.line-height {
  line-height: 40px;
}

.mg-35-0-50-0 {
  margin: 35px 0 50px 0;
}

.mg-370 {
  margin: 0 370px;
}

.bg-brown {
  background: var(--brown-color);
}

.w-100 {
  width: 100%;
}

.h-26px {
  height: 26px;
}

.size-14 {
  font-size: 14px;
}

.font-weight-normal {
  font-weight: normal;
}

.p-5-10 {
  padding: 5px 10px;
}

.p-right-300 {
  padding-right: 300px;
}

.h-20 {
  height: 20px;
}

.f-size-16 {
  font-size: var(--size-font);
}

.upper-case {
  text-transform: uppercase;
}

.mg-top-100px {
  margin-top: 100px;
}

.mg-top-90px {
  margin-top: 90px;
}

.top-16px {
  top: -16px;
}

.p-right-30 {
  padding: 0 30px 0 0;
}

.l-height-72px {
  line-height: var(--size-head-one);
}

.size-34px {
  font-size: 34px;
}

.l-height-40px {
  line-height: 40px;
}

.color-clear-brown {
  color: #d7ccc0;
}

.size-24px {
  font-size: 24px;
}

.mg-auto {
  margin: auto;
}

.mg-l-30px {
  margin-left: 30px;
}

.color-brown {
  color: var(--brown-color);
}

.f-weight-bold {
  font-weight: bold;
}

.f-basis-100 {
  flex-basis: 100%;
}

.space-between {
  justify-content: space-between;
}

.a-items-start {
  align-items: flex-start;
}

.h-40px {
  height: 40px;
}

.margin-b-24px {
  margin-bottom: 24px;
}

.mg-right-30px {
  margin-right: 50px;
}

.p-0-10px {
  padding: 0 10px;
}

.p-5-0 {
  padding: 5px 0;
}

.f-size-60px {
  font-size: var(--size-head-two);
}

.t-a-center {
  text-align: center;
}

.p-bot-100px {
  padding-bottom: 100px;
}

.w-50 {
  width: 50%;
}

.left-30px {
  right: 30px;
}

.mg-l-80px {
  margin-left: 80px;
}

.h-518px {
  height: 518px;
}

.p-top {
  padding-top: 60px;
}

.p-15px {
  padding: 15px;
}

.h-50px {
  height: 50px;
}

.w-423px {
  width: 423px;
}

.send::before {
  position: absolute;

  top: 35%;
  right: 50%;
  bottom: 35%;
  left: 30%;

  display: inline-block;

  width: 25px;
  height: 25px;

  background: url('../images/send.svg');
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.p-55px {
  padding: 55px;
}

.p-0-165px {
  padding: 100px 165px;
}

.h-55px {
  height: 55px;
}

.w-70px {
  width: 70px;
}

.size-18 {
  font-size: 18px;
}

.border-none {
  border-style: none;
}

.size-12 {
  font-size: 12px;
}

.under-line {
  text-decoration: underline;
}

.mg-20 {
  margin: 20px 0 9px 0;
}

.mg-right-40px {
  margin-right: 40px;
}

.a-items-center {
  align-items: center;
}

.p-top-100px {
  padding-top: 100px;
}

button:hover {
  background: #ea7600;
}

.nav-item:hover {
  background: #fe8a02;
}

.nav-item:hover span,
.nav-item:hover p {
  color: white;
}
